# Python
__pycache__/
*.py[cod]
*.pyo
*.log

# Virtual environments
bin/
include/
lib/
lib64/
Scripts/
pyvenv.cfg

# Jupyter / system folders
**/share/
**/etc/

# Images and misc
images/
gwen_alt.json
*.gitignore